.footer {
  background-image: url("../../../assets/image/234.jpg");
  width: 100%;
  box-sizing: content-box;
  background-size: cover;
  height: 120px;
  margin-bottom: 0;
  margin-top: 50px;
  border-bottom: 0;
  border-top: 4px solid silver;
}

.footer span {
  display: block;
  width: 1024px;
  margin: 0 auto;
  padding: 16px;
  color: #ffffff;
  font-size: 24px;
}
